@font-face {
    font-family: 'Kanit-Black';
    src: url('Kanit-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('Kanit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Medium';
    src: url('Kanit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Regular';
    src: url('Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-SemiBold';
    src: url('Kanit-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}