@import "./color.scss";
.border-radius-5 {
  border-radius: 5px;
}
.pd-25 {
  padding: 25px;
}

.pd-15 {
  padding: 15px;
}

.pd-45 {
  padding: 45px;
}

.mbt-15 {
  margin-bottom: 15px;
}

.mbt-24 {
  margin-bottom: 24px;
}

.mt-10 {
  margin-top: 10px;
}
